<div class="card" id="<%= dom_id entry %>">
  
    <header class="card-header "><strong>Meal Type:</strong>
    <%= entry.meal_type %></header>
 

 <div class=" card-content">
    <div class="content">
    <p>
      <strong>Calories:</strong>
      <%= entry.calories %>
    </p>
    <p>
       <strong>Proteins:</strong>
       <%= entry.proteins %>
    </p>
    <p>
        <strong>Carbohydrates:</strong>
        <%= entry.carbohydrates %>
    </p>
    <p>
        <strong>Fats:</strong>
        <%= entry.fats %>
    </p>
    <p class="italic">Logged at: <%= time_ago_in_words(entry.created_at) %></p>
        
    </p>
    </div>
  </div>

</div>
