<div class="card" id="<%= dom_id entry %>">
  
    <header class="card-header hero has-background-success-light">
      <p class="card-header-title has-text-white">
        <strong class="is-capitalized" >
         <%= entry.meal_type %></strong>
      </p>
    </header>
 

 <div class=" card-content">
    <div class="content">
    <p>
      <strong>Calories:</strong>
      <%= entry.calories %>
    </p>
    <p>
       <strong>Proteins:</strong>
       <%= entry.proteins %>
    </p>
    <p>
        <strong>Carbohydrates:</strong>
        <%= entry.carbohydrates %>
    </p>
    <p>
        <strong>Fats:</strong>
        <%= entry.fats %>
    </p>
    <p class="is-size-7 italic has-text-info">Logged at: <%= time_ago_in_words(entry.created_at) %> ago</p>
        
    </p>
  </div>
 

</div>
    <div class="button m-3 is-warning is-normal is-responsive">
        <a href="<%= entry_path(entry) %>" class="has-text-black">Show</a>
    </div>
    <div class="button m-3 is-warning is-normal is-responsive">
         <a href="<%= edit_entry_path(entry) %>" class="has-text-black">Edit</a>
    </div>
</div>
